.titulo,
.preco {
  color: #43c;
}

.preco {
  font-weight: bold;
}

.comprar {
  transform: rotate(90deg) translateY(-120px);
}

@value peso: bold;

.letraUm {
  font-weight: peso;
}

.letraDois {
  composes: titulo;
}

:global .container {
  height: 900px;
}
